.header-nav {
    position: absolute !important;
    background: none !important;
    z-index: 2 !important;
    color: black !important;
    font-weight: bold;
    text-decoration: none !important;
    padding-top: 0 !important;
    /* padding-bottom: 0 !important; */
    margin: auto;
    border-bottom: 1px solid rgb(0,0,0,0.2) !important;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .2) !important;
    /* transition: all .3s ease; */
    /* rgb(218, 218, 218) */
}

/* .header-nav :hover{
    transition: all 0.3s ease;
    opacity: 0.8;
} */

.logo{
    width:200px;
    height:60px;
    /* opacity:0.9; */
}

.logo:hover{
    transition: all 0.2s ease;
    opacity: 0.9;
    transform: scale(1.1);
}
.nav-title {
    color: white;
    opacity: 0.9;
    font-size: 2.7rem;
    text-decoration: none !important;
    margin-left: 5rem;
}

.nav-title :hover{
    transition: all 0.3s ease;
    opacity: 0.8;
    transform: scale(1.1);
}

.nav-sub{
    margin-right: 5rem;
}

.nav-sub :hover{
    transition: all 0.2s ease;
    opacity: 0.8;
    transform: scale(1.1);
}



/* .login {
    color: rgb(153, 153, 153);
    text-decoration: none !important;
} */