.pwsearch-img{
    background: url('../img/sky2.jpg') no-repeat;
    /* opacity: 0.8; */
    width: 100%;
    height: 20rem;
    background-size: 100% 20rem;
    background-position: center;
    box-shadow: 0px 5px 5px rgba(0,0,0,.15);
}